html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*
{
    box-sizing: border-box;
    color: white;
    font-family: Inter;
}

/* ========Bandeau========== */

.header
{
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: calc(100% - 00px);
    height: 70px;
    padding: 20px 50px;
    z-index: 2;
}

.menu-nav
{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9BD8C;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    transform: translateX(100%);
    transition: 0.3s transform ease-in-out;
}

.menu-nav.open
{
    transform: translateX(0);
}

.close
{
    cursor: pointer;
}

.close svg
{
    position: absolute;
    stroke: white;
    margin-right: 35px;
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
}

.overlay-menu-mobile.open
{
    display: block;
}

.burger
{
    display: block;
    cursor: pointer;
}

.burger svg
{
    stroke: black;
    margin-top: 5px;
    width: 40px;
    height: 40px;
}

.overlay-menu-mobile
{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu ul
{
    list-style: none;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    gap:50px;
}

.menu-link
{
    margin-right: 20px;
    margin-bottom: 20px;
}

.menu-link p
{
    font-weight: 800;
    font-size: 30px;
}

.menu-link p:hover
{
    color: black;
    transition: 0.2s;
    transform: scale(1.05);
}

.logo img
{
    margin-top: 10px;
    max-height: 70px;
    max-width: 70px;
}

/* =========1ère partie=========== */
.accueil 
{
    position: relative;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin-top: 60px;
    z-index: 1;
}

.accueil img 
{
    display: block;
    height: auto;
    width: 100%;
} 

.intro p
{
    position: absolute;
    color: #E9BD8C;
    font-size: clamp(14px, 5vw, 24px); /*Permet à la valeur de grandir ou non selon la taille de l'écran */
    font-weight: 600;
    top: 23%;
    left: 5%;
}

.intro h1
{
    top: 25%;
    position: absolute;
    color: white;
    font-size: clamp(26px, 7vw, 74px);
    font-family: Sansita Swashed;
    font-weight: 400;
    left: 5%;
}

.accueil button
{
    margin-top: -10px;
    top: 75%;
    position: absolute;
    background-color: #933C24;
    font-size: clamp(16px, 5vw, 24px);
    font-weight: 600;
    padding: 8px;
    left: 5%;
    border: solid;
    border-radius: 16px;
    border-width: 1px;
    border-color: black;
}

.accueil button:hover
{

    color: #E9BD8C;
    border-color: white;
    background-color: black;
    transform: scale(1.1);
}

/* =================Top produits================ */
    
.top
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:17px;
}

.top h3
{
    position: static;
    text-align: center;
    color: black;
    font-size: clamp(24px, 5vw, 64px);
    font-family: Sansita Swashed;
    font-weight: 600;
    width: 100%;
    margin-bottom: 30px;
}

.top-fond
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/aplat-pres.png');
    background-size:cover;
    background-position: 0% 80%;
    background-repeat: no-repeat; 
    gap:2%;
    border-radius: 8px;
    width: 360px;
    height: clamp(300px, 411px);
}

.top-fond img
{
    display: block;
    object-fit: contain;
    align-self: center;
    aspect-ratio: 1 / 1;
    width: 250px;
}

.ligne1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.ligne2
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.prix 
{
    color: white;
    font-size: clamp(16px, 5vw, 24px);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}

.ligne1 svg
{
    color: white;
    width: 40px;
    height: 40px;
}

.ligne2 button
{
    background-color: #933C24;
    font-size: 16px;
    padding: 12px 16px;
    max-height: clamp(44px, 49px);
    max-width: clamp(88px, 108px);
    border: solid;
    border-radius: 16px;
    border-width: 3px;
    border-color: black;
}

.nom-top
{
    font-size: clamp(16px, 5vw, 24px);
    padding-left: 0px;
}

.top svg :hover
{
    color: #E9BD8C;
}

.top button:hover
{

    color: #E9BD8C;
    background-color: black;
    border-color: white;
    transform: scale(1.1);
}

/* ================Réduction================= */

.div-reduction
{
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('../images/aplat2.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: 60%;
    margin-bottom: 10px;
    margin-top: 7%;
}

.div-reduction h3
{
    padding-top: 1%;
    text-align: center;
    color: #933C24;
    font-size: clamp(24px, 7vw, 36px);
    font-family: Sansita Swashed;
}

.div-reduction p
{
    padding-top: 1%;
    text-align: center;
    color: #5D5D5D;
    font-size: clamp(16px, 5vw, 24px);
    font-weight: 400;
    padding-bottom: 6%;
}

.div-reduction button
{
    display: block;
    margin: auto;
    align-items: center;
    background-color: #933C24;
    font-size: clamp(16px, 5vw, 24px);
    padding: 23px 35px ;
    border: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: transparent;
    margin-bottom: 5%;
}

.top button:hover
{

    color: #E9BD8C;
    background-color: black;
    border-color: white;
    transform: scale(1.1); /*zoom*/
}

/* ===================Discover================= */

.discover h3
{
    margin-top: 5%;
    color: #000;
    text-align: center;
    font-size: clamp(24px, 7vw, 64px);
    font-family: Sansita Swashed;
}

.gateaux
{
    display: flex;
    flex-direction: column;
}

.ligne
{
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.filtre p
{
    color: #5D5D5D;
    font-size: clamp(16px, 5vw, 24px);
    font-family: Poppins;
    width: 0%;
}

.ligne ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}

.filtre:hover
{
    text-decoration: underline;
    text-decoration-color:#933C24;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
    transition: 0.2s;
}

hr 
{
    background-color: #D9D9D9;
  border: none;
  margin: 0 auto; /*retire le margin*/
  height: 1px;
  width: 1120px;
}

.photos
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 1 calc(33.333% - 200px); /* donne un % du container à chaque item du flex */
    gap:30px;
    margin: 7%
}

.photos img
{
    object-position: center;
    object-fit: cover; 
    aspect-ratio: 1 / 1;  /* force un ratio*/
    flex: 0 1 calc(33.333% - 20px);
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.photos img:hover
{
    transform: scale(1.1);
    transition: 0.3s;
}

/* ====================A propos====================== */

.propos-contenu
{
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(../images/aplat3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.propos-contenu h3
{
    padding-top: 1%;
    color: white;
    text-align: center;
    font-family: Sansita Swashed;
    font-size: clamp(24px, 7vw, 48px);
}

.propos-contenu p
{
    text-align: center;
    color: #B9B9B9;
    font-size: clamp(16px, 5vw, 24px);
    margin: 0 auto;
    width: 50%;
    padding-bottom: 3%
}

.propos-contenu button
{
    margin-top: 3%;
    display: block;
    align-items: center;
    font-size: clamp(16px, 5vw, 24px);
    background-color: #933C24;
    margin: auto;
    padding: 23px 35px ;
    border: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: transparent;
    margin-bottom: 9%;
}

.propos-contenu button:hover
{

    color: #E9BD8C;
    background-color: black;
    border-color: white;
    transform: scale(1.1);
}

/* ===================Plaisirs=================== */

.petits-plaisirs h3
{
    margin-top: 8%;
    position: static;
    text-align: center;
    color: #000;
    font-size: clamp(24px, 7vw, 64px);
    font-family: Sansita Swashed;
    padding-bottom: 1%;

}

.plaisirs-contenu
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:10%;
    padding: 5%;
}

.liste-plaisirs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
}
.noms-plaisirs
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.liste-plaisirs p
{
    color: black;
    font-size: clamp(16px, 5vw, 24px);
    font-weight: 600;
}

.liste-plaisirs img
{
    object-fit: cover; 
    flex: 0 1 calc(33.333% - 20px);
    aspect-ratio: 1 / 1;  
    object-position: 95% 0%;
    width: clamp(300px, 8vw, 360px);
    height: clamp(300px, 8vw, 360px);
    border-radius: 8px;
}

.plaisirs-contenu img:hover
{
    transform: scale(1.1);
    transition: 0.3s;
}

/* ================================PIED============================ */

footer
{
    background-image: url(../images/fin.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.suivre-pied
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.suivre-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suivre-pied p
{
    color: #E9BD8C;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.suivre-pied img
{
    max-height: 115px;
    max-width: 115px;
}

#logo-pied
{
    align-self: center;
}

.suivre-pied ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    margin: 10px;
    padding: 0;
}

hr 
{
    align-self: center;
    height: 2px;
    background-color: #E9BD8C;
    border: none;
    opacity: 20%;
    width: 100%;
    margin-left: 10%;
    margin: 0 auto;
}

.info-contenu
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    gap: 24px;
    width: 100%;
}

.info-contenu > div
{
    flex: 1 1 333px;
    min-width: 0;
}
.info-pied h3
{
    color: #E9BD8C;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.apropos p,
.explorer p
{
    text-align: left;
    color: white;
    margin-left: clamp(42px, 5vw, 81px);
    font-weight: 500;
    font-size: 24px;
}

.actu-pied img
{
    width: 100px;
    height: 67px;
    margin-left: 50px;
}

.actu-pied h5
{
    text-align: left;
    color: #E9BD8C;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.info1 p,
.info2 p
{
    color: white;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    max-height: 67px;
    margin: 0;
}

.actu1,
.actu2
{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-bottom: 18px;
}

.info1,
.info2
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.copy p
{
    color: #737373;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 30px;
}

.info-pied p:hover
{
    color: #E9BD8C;
    transition: 0.2s;
    transform: scale(1.05);
}

.suivre-pied img:hover
{
    transition: 0.2s;
    transform: scale(1.10);
}

/* =====================================Responsive=========================== */

@media (min-width: 1024px) 
{

    /* ==========Bandeau============ */

    .burger
    {
        display: none;
    }
    .close
    {
        display: none;
    }

    .overlay-menu-mobile
    {
        display: none;
    }

    .header
    {
        position:fixed;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: transparent;
        height: 70px;
        top:0;
        left:0;
        padding: 20px 50px;
        gap:30px;
        z-index: 2;
    }

    .logo img
    {
        margin-top: 60px;
        max-height: 100px;
        max-width: 100px;
    }

    .menu-nav
    {
        position:static;
        display: flex;
        justify-content: flex-start;
        align-items:flex-start;
        list-style: none;
        background-color: transparent;
        transform: none;
        z-index: 2;
    }

    .menu-link
    {
        margin-right: 25px;
    }

    .menu-link p
    {
        color: white ;
        font-family: 'Poppins';
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* contour noir*/
    }

    .menu ul
    {
        display: flex;
        flex-direction:row;
        list-style: none;
    }

    .menu-link p:hover
    {
        color: #E9BD8C;
        width: 100%;
        left: 0;
    }


    /* ==========1ère partie========== */

    .accueil 
    {
        margin-top: 0px;
        padding-top: 60px;
        height: 600px;
        background-image: url('../images/aplat1.png');
        background-size:cover;
        background-position: center 47%;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .accueil img 
    {
        display: none !important;
    }

    /* ====================Top produits=================== */

    .top
    {
        flex: 0 1 calc(33.333% - 200px);
    }

    .top-fond 
    {
        margin-top: 50px;
    }

    .act button
    {
        font-size: 16px;
    }

    /* ==================Footer================= */
    
    .suivre-pied
    {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 45px;
        margin-right: 45px;
    }

    .suivre-box
    {
        flex-direction: row;
        align-items: center;
        gap:10px;
    }

    .info-pied h3
    {
        text-align: left;
        padding-left: 54px;
    }
}